---
layout: home_layout
title: Drone eXperience - Proyectos de cine
---

{% include video.html imgSRC="/assets/img/camara-exterior-v4.jpeg"
h1='<span class="wc-u--hide-accessibility">Welly Code</span>
<span class="wc-video--block">C<span class="wc-video--black">ine</span></span>
<span class="wc-video--black">e<span class="wc-video--white">X</span>perience</span>
<span class="wc-u--hide-accessibility">. Tus profesionales sobre el mundo del Cine</span>
'

position="wc-video__heading--right"
%}

{% include about-info-cine.html %}
{% include heading.html title="Nuestros proyectos" strong="Cine eXperience" %}


<section class="wc-card__content">
	<article class="wc-card__box">
		<img class="wc-card__media" src="/assets/img/el-vuelo-del-halcon-rodina.jpg" alt="Imagen de la portada de el vuelo del halcón. Rodina">
		<span class="wc-card__category">Libros de cine</span>
		<h2>El vuelo del Halcón. Rodina</h2>
		<p class="wc-card__description">
			En nuestro compromiso con el cine, queremos promover y ayudar a que este gran libro llegue a la gran pantalla.
		</p>
		<p class="wc-card__description">
			Distopía y fantasía, inspirada en la vida de los padres de la autora. Isabel González Yagüe ha escrito una historia donde fantasía y distopía se entremezclan para recordarnos que depende de nuestras acciones que el futuro sea un lugar terrible o maravilloso.
		</p>
		<p class="wc-card__description">
			Esperando que salga a la luz la nueva novela en 2024. El Vuelo del Halcón. Pannotia.
		</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/chair-director.svg' %} Autora: Isabel González Yagüe</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/camera.svg' %} Editora: Mª Isabel Montes Ramírez (Angels Fortune Editions)</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/production.svg' %} <a href="https://www.youtube.com/watch?v=nmFV4WT5fr4">BookTrailer</a></p>
		<p class="wc-card__align-center">{% svg '/assets/icons/production.svg' %} <a href="https://cafebreriaadhoc.com/isabel-gonzalez-yague-el-vuelo-del-halcon-rodinia/">Crónica</a></p>
		<p class="wc-card__align-center">{% svg '/assets/icons/production.svg' %} <a href="https://amzn.eu/d/g20z1by">Enlace de compra del libro</a></p>
		<p class="wc-card__align-center">{% svg '/assets/icons/production.svg' %} Información: audiovisual@welly.es</p>
	</article>
	<article class="wc-card__box">
		<img class="wc-card__media" src="/assets/img/otro_paso.png" alt="Hombre bailando">
		<span class="wc-card__category">Largometraje documental</span>
		<h2>El Paso Ausente</h2>
		<p class="wc-card__description">
			Documental de creación donde bailarines con diversas capacidades como el síndrome de Down, autismo, parálisis cerebral, sordera o ceguera muestran, a través de la danza y la poesía, una visión íntima y artística de su vida, sus muros y formas de superarlos.
		</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/chair-director.svg' %} Dirección: Judith Hidalgo Arana</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/camera.svg' %} DoP: Daniel Goldmann</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/production.svg' %} Producción: José Mª Campos</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/file_download.svg' %} <a class="wc-card__link" href="/assets/pdf/otro-paso-2023.pdf" target="_new" download> Descargar PDF</a></p>
	</article>
	<article class="wc-card__box">
		<img class="wc-card__media" src="/assets/img/reportaje_cine.jpg" alt="Técnicos de cine manipulando las cámaras">
		<span class="wc-card__category">Formación</span>
		<h2>Iniciación a la producción cinematográfica</h2>
		<p class="wc-card__description">
			Taller de iniciación a la producción cinematográfica dirigido a alumnos entre 12 y 21 años que se quieran dedicar a trabajar en el sector audiovisual, conocerán los puestos de un equipo de rodaje, las fases de una producción y trabajarán con material técnico profesional. 
		</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/location.svg' %} Lugar de realización: Madrid</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/calendar.svg' %} Fechas: Formación continua</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/seats.svg' %} Número de plazas: 20</p>
		<!-- <p class="wc-card__align-center">{% svg '/assets/icons/hour.svg' %} Duración: 16 horas</p> -->
		<!-- <p class="wc-card__align-center">{% svg '/assets/icons/price.svg' %} Precio: 95€</p> -->
		<p class="wc-card__align-center">{% svg '/assets/icons/information.svg' %} Información: audiovisual@welly.es</p>
	</article>
	<article class="wc-card__box">
		<img class="wc-card__media" src="/assets/img/mata_de_alcantara.jpg" alt="Recinto de al ermita de San Lorenzo en Mata de Alcántara, Cáceres">
		<span class="wc-card__category">Eventos</span>
		<h2>Festival de cine de Mata de Alcántara</h2>
		<p class="wc-card__description">
			Organización del festival de cine de Mata de Alcántara, punto de encuentro de cineastas en Cáceres, acercando el mundo rural.
		</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/calendar.svg' %} Fecha de celebración: Julio 2024</p>
		<p class="wc-card__align-center">{% svg '/assets/icons/information.svg' %} Información: audiovisual@welly.es</p>
	</article>

</section>
