---
layout: home_layout
page-type: website
---

{% include video.html imgSRC="/assets/img/drones/drones.jpeg"
h1='<span class="wc-u--hide-accessibility">Welly Code</span>
<span class="wc-video--block">D<span class="wc-video--black">rones</span></span>
<span class="wc-video--black">e<span class="wc-video--white">X</span>perience</span>
<span class="wc-u--hide-accessibility">. Tus profesionales digitales</span>'
position="wc-video__heading--right"
%}

{% include about-info-drones.html %}
{% include heading.html title="Nuestros servicios" strong="Drone eXperience" %}

{% include block-image-text.html
heading='<h3>Cine <span class="wc-bit__orange">TV</span> Series</h3>'
text='<p class="wc-bit__text">En caso de que necesites incorporar vuelos para tus producciones audiovisuales, además de
	otros drones te ofrecemos el DJI Inspire 2 con cámara Zenmuse X5S, Sensor 4/3”, 5,2K a 30fps y 4K a 60fps,
	fotografía 20,8MP, RAW, ráfaga continua 20fps.</p>
<p class="wc-bit__text">Cualquier producción ya sea ficción o documental dispondrá de la mejor calidad de imagen aérea.
</p>'
imgSRC="/assets/img/drones/drones-k16.jpeg"
%}

{% include block-image-text.html
heading='<h3>Video <span class="wc-bit__orange">Corporativo</span>y Promocional</h3>'
text='<p class="wc-bit__text">Te proporcionamos las mejores imágenes tomadas desde el aire para realizar un video
	corporativo o promocional. No importa en qué sector esté tu negocio, la calidad inmejorable captada por los drones,
	dará una visión completa de tu proyecto.</p>
<p class="wc-bit__text">Con la grabación terrestre ampliamos el contenido necesario para elaborar un video de la mayor
	calidad posible. Nos encargamos de la edición, postproducción, música y locución para obtener el resultado esperado.
</p>'
imgSRC="/assets/img/drones/drones-2.jpeg"
position="reverse"
%}

{% include block-image-text.html
heading='<h3>Vuelos <span class="wc-bit__orange">eventos públicos </span>y privados</h3>'
text='<p class="wc-bit__text">Realizamos grabaciones aéreas y terrestres de eventos públicos y privados, las mejores
	imágenes en alta calidad.</p>
<p class="wc-bit__text">Tanto para empresas como particulares en ferias, bodas, eventos, fiestas, grabación
	cinematográfica, competiciones, videoclips… y en cualquier tipo de espacio.</p>'
imgSRC="/assets/img/drones/drone-sea.jpeg"
%}

{% include block-image-text.html
heading='<h3>Seguimiento de <span class="wc-bit__orange">obra civil </span>y construcción</h3>'
text='<p class="wc-bit__text">Realizamos el seguimiento de obra facilitando la inspección y el progreso de la
	construcción, la grabación de imágenes y fotografías aéreas facilita la supervisión del proyecto y minimiza costes
	al detectar y corregir errores en menos tiempo.
	Se mejora la seguridad al poder identificar y mitigar posibles peligros que pudiesen acontecer durante la ejecución.
	La utilización de drones permite la revisión de puntos de difícil acceso para comprobar desperfectos.
	Apoyamos la grabación aérea con imágenes terrestres igualmente grabadas en 4K.</p>
<p class="wc-bit__text">Entregamos todo el material recogido en bruto, aunque también podemos añadir la edición y
	postproducción en caso de ser necesario.</p>
<p class="wc-bit__text">Podemos procesar las imágenes obtenidas y sacar ortofotografías, Modelos digitales de
	superficie, nube de puntos,…
	Realizamos la fotogrametría necesaria utilizando puntos de control georreferenciados para que el seguimiento
	topográfico de la obra sea lo más preciso posible.</p>'
imgSRC="/assets/img/drones/drones-obra-civil-2.jpeg"
position="fullwidth"
%}

{% include block-image-text-grid.html
heading='<h3>Parques eólicos <span class="wc-bit__orange">Plantas fotovoltáicas </span>Industria</h3>'
text='<p class="wc-bit__text">Inspección para parques eólicos, plantas fotovoltaicas y cualquier necesidad industrial. La
	grabación y fotografía aérea con drones facilita enormemente la revisión, mantenimiento y detección de averías
	además de ser más rápido y seguro, consiguiendo de esta forma abaratar costes. Se disminuyen los accidentes
	laborales al evitar las intervenciones de riesgo.</p>
<p class="wc-bit__text">En caso de ser necesario se pueden utilizar cámaras termográficas para mejorar los resultados de
	la inspección.
	Inventarios en naves logísticas, trabajos de fumigación y todo aquello que sea necesario realizar de una forma
	rápida y eficaz.</p>'
imgSRC1="/assets/img/drones/drones-campo.jpeg"
imgSRC2="/assets/img/drones/drones-industria.jpeg"
imgSRC3="/assets/img/drones/drones-industria-2.jpeg"
%}
