---
layout: home_layout
title: Welly Code SL | Te ayudamos a digitalizar tu empresa
---



{% include video.html video=true h1='<span class="wc-u--hide-accessibility">Welly Code</span>
<span class="wc-video--block wc-video--white"><span class="wc-video--orange">P</span>rofessional</span>
<span class="wc-video--orange">e<span class="wc-video--white">X</span>perience</span>
<span class="wc-u--hide-accessibility">. Tus profesionales digitales</span>' %}

<section>
	{% include about-info.html %}
	<section class="wc-section">
		{% include heading.html title="Trabajos de los que nos" strong="sentimos orgullosos" %}

		<ul class="wc-card-client">
			<li class="wc-card-client--fullimg">
				<h3>Fotogrametría</h3>
				<p class="wc-card-client__name">
					<img class="wc-card-client__logos" src="{{'/assets/img/clientes/logo-vias.jpeg'}}"
						alt="Logo de Vias">
				</p>
				

				<img class="wc-card-client__media" src="{{'/assets/img/fondos/fotogrametria.jpg'}}" alt="">
			</li>
			<li>
				<h3>
					Desarrollo Tienda online
					<span class="wc-card-client__name">
						<img class="wc-card-client__logos" src="{{'/assets/img/clientes/logo-alenia-2022-brand-small.png'}}"
							alt="Logo de Alenia">
					</span>
				</h3>
				

				<img class="wc-card-client__media" src="{{'/assets/img/mockups/mockup-macbook-16-alenia.png'}}"
					alt="Mockup de la página de Alenia">
			</li>
			
			<li>
				<h3>Desarrollo web
					<span class="wc-card-client__name">
						<img class="wc-card-client__logos" src="{{'/assets/img/clientes/Biomata_2022_150x150.png'}}"
							alt="Logo de Vias">					
					</span>
				</h3>
				

				<img class="wc-card-client__media" src="{{'/assets/img/mockups/mockup-macbook-16-biomata.png'}}"
					alt="Mockup de la página de Biomata">
			</li>
			<li>
				<h3>Desarrollo con Wordpress
					<span class="wc-card-client__name">
						<img class="wc-card-client__logos" src="{{'/assets/img/clientes/logo-SEPSAMEDHA.png'}}"
							alt="Logo de Vias">					
					</span>
				</h3>
				
				<img class="wc-card-client__media" src="{{'/assets/img/mockups/mockup-macbook-16-sepsa-medha.png'}}"
					alt="Mockup de Sepsa">
			</li>
		</ul>
	</section>
	<section class="wc-section wc-section--bb">
		{% include heading.html title="Clientes de los que nos" strong="sentimos orgullosos" %}
		{% include carousel-home.html %}
	</section>
	<section class="wc-section wc-wrapper">

		<ul class="wc-do-better">
			<li>{% include heading.html title="Qué hacemos" strong="mejor" customClass="wc-heading--light" %}</li>
			<li>
				<a class="wc-do-better__link" href="">
					{% svg '/assets/icons/dron.svg' %}
					<h3 class="wc-do-better__title">Drones</h3>
					<p class="wc-do-better__text">El arte en movimiento, una imagen vale más que mil palabras… ¿cuánto
						vale una imagen en movimiento? Contar una historia, mostrar la belleza de lo que nos rodea, dar
						valor a una marca, en Welly Code somos profesionales con muchos años de experiencia en el sector
						audiovisual y especialistas en grabación aérea con drones, tus imágenes en 4K también desde el
						cielo, ponte en las mejores manos para contar tu historia.</p>
				</a>
			</li>
			<li>
				<a class="wc-do-better__link" href="">
					{% svg '/assets/icons/html5.svg' %}
					{% svg '/assets/icons/css3.svg' %}
					{% svg '/assets/icons/javascript.svg' %}
					<h3 class="wc-do-better__title">Desarrollo web</h3>
					<p class="wc-do-better__text">Creamos sitios web únicos, basados ​​en las tecnologías más
						actualizadas. Nuestro equipo toma en consideración los problemas de su negocio y proporciona
						soluciones sistemáticas, razonadas y comprobadas.</p>
				</a>
			</li>
			<li>
				<a class="wc-do-better__link" href="">
					{% svg '/assets/icons/photo.svg' %}
					{% svg '/assets/icons/sound.svg' %}
					<h3 class="wc-do-better__title">Fotografía y video</h3>
					<p class="wc-do-better__text">En Welly Code Audiovisual te ayudamos en la captación de imagen, nos
						reunimos con vosotros para adaptarnos a vuestro proyecto, comprender qué necesitáis exactamente
						y cumplir vuestras expectativas.</p>
				</a>
			</li>
			<li><a class="wc-do-better__link" href="">


					{% svg '/assets/icons/brush.svg' %}
					{% svg '/assets/icons/artboard.svg' %}
					<h3 class="wc-do-better__title">Diseño Web</h3>
					<p class="wc-do-better__text">Todo negocio exitoso debe tener una identidad de marca y una
						comunicación memorables y únicas. Valoramos la calidad y la atención al detalle por encima de la
						cantidad y proporcionamos soluciones de diseño bien consideradas y basadas en ideas.</p>
				</a>
			</li>
			<li><a class="wc-do-better__link" href="">


					{% svg '/assets/icons/google.svg' %}
					{% svg '/assets/icons/list-search.svg' %}
					<h3 class="wc-do-better__title">SEO</h3>
					<p class="wc-do-better__text">Si Google no te ve, no existes. Hacemos un analisis de tu web para
						hacer un posicionamiento basado en datos. Aplicamos las técnicas más recomendadas para
						posicionar tu web en el lugar que se merece. </p>
				</a>
			</li>
		</ul>
	</section>

</section>
