<div class="wc-about-info">
	<picture class="wc-about-info__isotopo">
		<img src="{{'/assets/img/wellycode-isotipo-negro.png' | relative_url }}" alt="">
	</picture>
	<div>
		<p class="wc-about-info__text">
			En <strong>Welly Code Audiovisual</strong>, nos gusta el cine, nos implicamos todo lo que podemos.
			Además de centrarnos en producir contenidos, creemos que la formación y el conocimiento del cine es imprescindible en cualquier sociedad que preste atención a su cultura.
		</p>
		<p class="wc-about-info__text">
			Buscamos la excelencia y queremos aportar nuestro granito de arena al sector, realizando formaciones a medida, talleres para principiantes, eventos en los que el cine sea el protagonista. Ofrecemos nuestros conocimientos audiovisuales para hacer crecer nuestro sector.
		</p>
	</div>
</div>
