<div class="wc-about-info">
	<picture class="wc-about-info__isotopo">
		<img src="{{'/assets/img/wellycode-isotipo-negro.png' | relative_url }}" alt="">
	</picture>
	<div>
		<p class="wc-about-info__text">
			En <strong>Welly Code Audiovisual</strong>, disponemos de una división especializada en vuelos con drones.
			Nos tomamos en serio
			la seguridad y la legislación vigente para realizar las grabaciones con la mayor seguridad para todos.
		</p>
		<p class="wc-about-info__text">
			Nuestros pilotos disponen de todas las licencias adaptadas a la entrada en aplicación del Reglamento de
			Ejecución (UE) 2019/947 de la Comisión el pasado 31 de diciembre de 2020 ya que ha supuesto cambios para
			todos
			los operadores de Drones/UAS.
		</p>
	</div>
</div>
