<div class="wc-about-info wc-wrapper">
	<picture class="wc-about-info__isotopo">
		<img src="{{'/assets/img/wellycode-isotipo-negro.png' | relative_url }}" alt="">
	</picture>
	<p class="wc-about-info__text">
		Somos generadores de ideas, buscadores de objetivos, profesionales sedientos de retos, creadores de proyectos
		únicos
		en Internet. Brindamos soluciones no convencionales, combinando las tecnologías web más avanzadas, un diseño
		moderno
		y una comunicación audaz. Para nosotros, cada proyecto es una aventura significativa, en la que nos convertimos
		en
		socios de nuestros clientes, en el camino hacia la perfección.
		<!-- <a href="" class="wc-about-info__link">
			Sobre nosotros
			{% svg '/assets/icons/arrow-left-orange.svg' %}
		</a> -->
	</p>
</div>
