<section class="wc-wrapper wc-bit--grid">
	{{include.heading}}
	<ul class="wc-bit__list">
		<li>
			<picture class="wc-bit__media">
				<img loading="lazy" src="{{include.imgSRC1 | relative__url }}" alt="">
			</picture>
		</li>
		<li>
			{{include.text}}
		</li>
		<li>
			<picture class="wc-bit__media">
				<img loading="lazy" src="{{include.imgSRC2 | relative__url }}" alt="">
			</picture>
		</li>
		<li>
			<picture class="wc-bit__media">
				<img loading="lazy" src="{{include.imgSRC3 | relative__url }}" alt="">
			</picture>
		</li>
	</ul>
</section>
