<article>
	<img src="imagen1.png" alt="Imagen 1">
	<span>{{ category }}</span>
	<h2>{{ title }}</h2>
	<p>{{ descripcion }}</p>
</article>



<div class="box">
	<img src="imagen1.png" alt="Imagen 1">
	<div class="category">Largometraje documental</div>
	<h2>El Paso Ausente</h2>
	<div class="description">
		Documental de creación donde bailarines con diversas capacidades como el síndrome de Down, autismo, parálisis cerebral, sordera o ceguera muestran, a través de la danza y la poesía, una visión íntima y artística de su vida, sus muros y formas de superarlos..
	</div>
	<p>Dirección: Judith Hidalgo Arana</p>
	<p>DoP: Daniel Goldmann</p>
	<p>Producción: José Mª Campos</p>
</br>
	<p><a class="wc-header__link" href="otro-paso-2023.pdf" target="_new" download="Otro Paso 2023"> Descargar PDF</a></p>
</div>
