<ul class="wc-carousel">
	<li><img loading="lazy" src="{{"/assets/img/clientes/balmon-fisioterapia.jpeg"}}" alt="Balmon Fisioterapia"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/emma-baizan.jpeg"}}" alt="Emma Baizan. Palabras para llevar en el corazón"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/fixos-blanco.png"}}" alt="Fixos Fisioterapia y Osteopatía"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/alia-fisioterapia.png"}}" alt="Alia fisioterapia. Clinica fisioterapia especializada en lactancia materna"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/isaer-logo.jpeg"}}" alt="Isaer. Ingeniería y soluciones aeronáuticas"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/logo-sebrok.png"}}" alt="Sebrok.  Soluciones IT para tu empresa y el teletrabajo"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/citrus-fotografia.png"}}" alt="Citrus fotografía. Fotografía de bodas"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/the-beautiful-project.-320x297.webp"}}" alt="The beatutiful project. La vida se mide en pequeños momentos"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/logo-vias.jpeg"}}" alt="VIAS. Empresa constructora de España"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/Electrohogar-Vilamil.png"}}" alt="Electrohogar Villamil. Suministro y distribución de electrodomésticos y bricolaje de cocina"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/logodental3d.jpeg"}}" alt="Logo Dental 3D. Implantes dentales sin puntos"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/ritual-logo.png"}}" alt="Ritual de lo habitual. Agencia de comunicación"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/logoDiezMuñoz.png"}}" alt="Diez Muñoz. Economistas consultores"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/mi-rebotica-logo.jpeg"}}" alt="Mi rebotica. Cosmética natural"></li>
	<li><img loading="lazy" src="{{"/assets/img/clientes/paula-martin-fotografia.png"}}" alt="Paula Martín fotografía. Fotografía infantil en Madrid"></li>
</ul>
