<footer class="wc-footer">
	<ul class="wc-footer__list">
		<li data-date-year></li>
		<li><a class="wc-footer__link" href="/politica-privacidad.html">Política de privacidad</a> -</li>
		<li><a class="wc-footer__link" href="/aviso-legal.html">Aviso legal</a> -</li>
		<li><a class="wc-footer__link" href="/politica-cookies.html">Política de cookies</a> -</li>
		<li><a class="wc-footer__link" href="/condiciones-generales-uso.html">Condiciones generales de uso</a></li>
		<li><img src="{{'/assets/img/wellycode-blanco-horizontal.png' | relative_url }}" alt=""></li>
	</ul>
</footer>
