<ul class="wc-location">
	<li>
		<ul class="wc-location__address">
			<li class="wc-location__city"><strong>Madrid</strong></li>
			<li class="wc-location__text">644 180 117</li>
			<li class="wc-location__text">audiovisual@welly.es</li>
		</ul>
	</li>
	<li>
		<ul class="wc-location__address">
			<li class="wc-location__city"><strong>Mata de Alcántara - Cáceres</strong></li>
			<li class="wc-location__text">644 189 116</li>
			<li class="wc-location__text">code@welly.es</li>
		</ul>
	</li>
</ul>
