<div class="wc-video">
	<video autoplay loop muted>
		<source src={{"/assets/video/volveremos-a-volar.mp4"}} type="video/mp4">
		Sorry, your browser doesn't support embedded videos.
	</video>
	<!-- <img src="{{'/assets/img/drones/drones.jpeg' | relative_url }}" alt=""> -->
	<h1 class="wc-video__heading">
		<span class="wc-u--hide-accessibility">Welly Code</span>
		<span class="wc-video__pro">Professional</span> 
		<span class="wc-video__exp">eXperience</span>
		<span class="wc-u--hide-accessibility">. Tus profesionales digitales</span>
	</h1>
</div>
