.wc-do-better {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
	@media all and(min-width: $welly__tablet) {
		padding-top: 80px;
		flex-direction: row;
	}
	& li {
		padding: 16px;
		align-self: flex-start;
		@media all and(min-width: $welly__tablet) {
			width: 30%;
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
	& li:first-child {
		padding: 0 16px;
		@media all and(min-width: $welly__tablet) {
			padding: 0 64px 0 0;
		}
		h2 {
			padding: 0;
			margin: 0;
		}
	}
	&__title {
		width: 80%;
		font-size: 24px;
		line-height: 1.5;
		font-weight: bold;
		font-family: $wellyFontFamily;
		text-transform: uppercase;
		color: $color__black;
	}
	&__text {
		font-family: $wellyFontFamily;
		font-size: 18px;
		line-height: 1.3;
		color: $color__black;
	}
	&__link:hover {
		text-decoration: none;
		& .wc-do-better{
			&__title {
				text-decoration: underline;
			}
		}
	}
	&__link:focus {
		outline: 3px solid $color__black;
		outline-offset: 6px;
		text-decoration: none;
		& .wc-do-better{
			&__title {
				text-decoration: underline;
			}
		}
	}
}
