.wc-footer {
	background-color: $color__orange;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	
	justify-content: center;
	gap: 8px;
	align-items: center;
	color: white;
	flex-direction: column;
	@media all and(min-width: $welly__tablet) {
		flex-direction: row;
	}
	img {
		width: 140px;
	}
	p {
		margin: 0;
		font-weight: 500;
		font-family: $wellyFontFamily;
		text-align: center;
	}
}
