<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url }}">
	<script src="{{"/assets/js/welly-main.js" | relative_url }}"></script>
	<link rel="shortcut icon" href="{{ "/favicon.png" | prepend: site.baseurl | prepend: site.url }}" />
</head>

<body id="top">
	{% include header.html %}
	<main id="main-content" class="wc-wrapper">
		{{ content }}
		{% include location.html %}
	</main>
	{% include footer.html %}
	{% include gotop.html %}
</body>

</html>
